<div class="center">
  <% provide(:title, "ホーム") %>
  
  <%= image_tag "cattop.jpg", class: "img-responsive" %>
  <p>Mew</p>
  <a><%= link_to "新規登録", "#", class: "btn btn-lg btn-primary" %></a>
</div>

