<% if user_signed_in? %>
  <div class="row">
    <div class="col-lg-8">
      <%= render 'shared/post_form' %>
      <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>

<% else %>

<div class="center">
  <% provide(:title, "ホーム") %>
  
  <%= image_tag "cattop.jpg", class: "img-responsive" %>
  <p>Mew</p>
  <a><%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %></a>
</div>

<% end %>