%li
  - unless user == current_user
    - if user.image.blank?
      = image_tag 'usericon.png', class: 'icon_image_prof'
    - else
      %img{src: user.image, class: 'icon_image_prof'}
    = link_to user.name, user

