%li
  - unless user == current_user
    - if user.image.blank?
      = link_to image_tag('usericon.png', class: 'icon_image_prof'), user
    - else
      = link_to image_tag(user.image.url, class: 'icon_image_prof'), user
    = link_to user.name, user

