<% provide(:title, @title) %>
<h1><%= @title %></h1>
<div class="container">
  <div class="main_view">
    <div class="row">
      <div class="all_user2">
        <ul class="users2">
          <%= render @users %>
        </ul>
      </div>
    </div>
  </div>
</div>

