.container
  .main_view
    .row
      / タイムライン
      .col-lg-8
        - if @user.posts.any?
          %ol.posts
            = render @posts
          = will_paginate @posts
        - else
          %h3.text-center 投稿がありません！
      / 画像〜フォロー数まで表示
      %aside.col-lg-4
        %section.user_info
          = render 'shared/user_info'
        %section.stats
          = render 'shared/stats'
