- provide(:title, @user.name)
.container
  .main_view
    .row
      / タイムライン 投稿数を表示
      .col-lg-9
        - if @user.posts.any?
          %ol.posts
            = render @posts
          = will_paginate @posts
      / 画像〜フォロー数まで表示
      %aside.col-lg-3
        %section.user_info
          = render 'shared/user_info'
        %section.stats
          = render 'shared/stats'
