= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.hidden_field :email, value: "guest@example.com"
  = f.hidden_field :password, value: "guestguest"
  = f.submit "ゲストユーザーとしてログイン"