.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.field{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}

.form-caption{
  width: 500px;
  height: 80px;
  font-size: 20px;
}

.picture_label{
  cursor: pointer;
  position: absolute;
  right: 190px;
  bottom: 1px;
  font-size:1.5em;
}

#picture_file{
  display: none;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.btn_post{
  color: #764B0A;
  background-color: white;
  border: 3px solid #764B0A;
  margin: 40px 0 0 10px;
  width: 90px;
}

/* likes */

.glyphicon-heart {
  color: red;
}
.btn-default:hover > .glyphicon-heart-empty {
  color: red;
}
.btn-default {
  position: relative;
  left: 60px;
}