!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mew
    = render 'layouts/rails_default'
  %body
    = render 'layouts/header'
    %div
      = yield