<!DOCTYPE html>
<html>
  <head>
    <title>Mew</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
